doctype html
html
  head
    title mmhmmmmm
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:400,300,700,600', rel='stylesheet', type='text/css')
    link(href='/stylesheets/font-awesome.min.css')
    script(type='text/javascript', src='/javascripts/jquery-1.10.1.min.js')
    script(type='text/javascript', src='/javascripts/less-1.6.1.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/spewzik.js')
  body
    div#logo
      img(src='/images/logo-black.png')
      div#tagline Is number one music app in eyeReturn bro.

    div#header
      h1#title Communities
      
    div#content
      div#rooms
      div#roomLinkHtml(style='display: none;')
        a.roomLink(href='/rooms/{roomId}', data-roomid='{roomId}', data-roomname='{roomName}')
          | {roomName} - 
          var.listenerCount(data-roomid='{roomId}') {roomListeners}
          |  listeners
          br
      div#addWrapper
        div#addContainer
          input#roomName(type='text', placeholder='Room Name')
          button#addRoom New Room
      div#openAdd.button Add Room
      var#error