doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.10.1.min.js')
    script(type='text/javascript').
    
      var createRoom = function(roomName) {
        var url = '/rooms/?name=' + roomName;
        $.ajax({ url: url, type: 'POST', success: function(result) {
          $('div#rooms').append('<a href=\'/rooms/' + result._id + '/play\'>' + result.name + '</a>');
        }});
      }
    
      $(document).ready(function(){
        $('button#addRoom').on('click', function() {
          createRoom($("input#roomName").val());
        });
      });
  body
    h1= title
    p Welcome to YOUR DEATH
    div#rooms
      each room, i in rooms
        a(href='/rooms/#{room._id}/play') #{room.name}
        br
    input#roomName(type="text", placeholder="Room Name")
    button#addRoom New Room