doctype html
html
  head
    title=title
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:400,300,700,600', rel='stylesheet', type='text/css')
    script(src='/javascripts/jquery-1.10.1.min.js')
    script(src='/javascripts/less-1.6.1.min.js')
    script(src='/javascripts/jquery-1.10.1.min.js')
    script(type='text/javascript').
    
      var createRoom = function(roomName) {
        var url = '/rooms/?name=' + roomName;
        $.ajax({ url: url, type: 'POST', success: function(result) {
          $('div#rooms').append('<a href=\'/rooms/' + result._id + '/play\'>' + result.name + '</a>');
        }});
      }
    
      $(document).ready(function(){
        $('button#addRoom').on('click', function() {
          createRoom($("input#roomName").val());
        });
      });
  body
    div#logo
      img(src='images/logo-black.png')
      div#tagline Number one music app in eyeReturn

    div#wrapper
      h1 Communities
      div#rooms
        each room, i in rooms
          a(href='/rooms/#{room._id}/play') #{room.name} - #{room.listenerCount} listeners
          br

      div#addWrapper
        div#addContainer
          input#roomName(type="text", placeholder="Room Name")
          button#addRoom New Room
      div#openAdd.button Add Room

    script(src='/javascripts/spewzik.js')