doctype html
html
  head
    title=title
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:400,300,700,600', rel='stylesheet', type='text/css')
    script(src='/javascripts/jquery-1.10.1.min.js')
    script(src='/javascripts/less-1.6.1.min.js')
  body
    div#logo
      img(src='images/logo-black.png')
      div#tagline Number one music app in eyeReturn

    div#wrapper
      h1 Communities
      div#rooms
        each room, i in rooms
          a(href='/rooms/#{room._id}/play') #{room.name} - #{room.listenerCount} listeners
          br

      div#addWrapper
        div#addContainer
          input#roomName(type="text", placeholder="Playlist Name")
          button#addPlaylist New Playlist
      div#openAdd.button Add Playlist

    script(src='/javascripts/spewzik.js')