doctype html
html
  head
    title mmhmmmmm
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    link(href='http://fonts.googleapis.com/css?family=Julius+Sans+One|Open+Sans:400,300,700,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(type='text/javascript', src='/javascripts/jquery-1.10.1.min.js')
    script(type='text/javascript', src='/javascripts/less-1.6.1.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/spewzik.js')
    script(type='text/javascript', src='/javascripts/room.js')
  body
    div#logo
      img(src='/images/logo-black.png')
      div#tagline Is number one music app in eyeReturn bro.

    div#header
      h1#title #{roomName}
      
    div#content
      var#roomId(data-roomid='#{roomId}')
      h3 Currently playing : 
        var#currentTrack
      object#ytplayer(type='application/x-shockwave-flash', width='640', height='360', data='http://www.youtube.com/v/RHevGGYuAsw?enablejsapi=1&playerapiid=ytplayer&version=3&disablekb=1&iv_load_policy=3&showinfo=0&&rel=0&controls=0')
        param(name='allowScriptAccess', value='always')
        param(name='allowFullScreen', value='false')
      div#belowPlayer
        i.vote(value='-1').fa.fa-2x.fa-thumbs-o-down
        i#skip.fa.fa-2x.fa-step-forward
        i#roomDetails
          var#listenerCount 0
          |  listeners ::: 
          var#skipCount 0
          |  skips ::: 
          var#rating.rating 0
          |  digs
        i#save.fa.fa-2x.fa-heart-o
        i.vote(value='1').fa.fa-2x.fa-thumbs-o-up
        br
        i#time
          var#currentTime 0:00
          |  / 
          var#totalTime 0:00
      div#controls
        div#volume.cf
          input#volume-bar(type='range', min='0', max='1', step='0.05', value='1')
          i#mute.fa.fa-volume-up
      div
        input#trackExtId(type='text', placeholder='Youtube URL')
        button#addTrack Add Track
        button#randomTrack Random Track
      br
      div#tracks
      div#trackHtml(style='display: none;')
        div.track(data-trackid='{trackId}')
          | {trackName} ::: 
          var.rating(data-trackid='{trackId}') {trackRating}
          |  digs 
          i.vote.downvote.fa.fa-thumbs-o-down(data-trackid='{trackId}', value='-1')
          i.vote.upvote.fa.fa-thumbs-o-up(data-trackid='{trackId}', value='1')
      div(style='display: none;')
        input#nickname(type='text', placeholder='Nickname')
        button#changeName Change Name
    var#error
